#nav-buttons-home {
    background-color: #9870A3;
    color: white;
    vertical-align: center;
}
#nav-buttons-home:hover {
    background-color: #252832;
    cursor: pointer
}

#nav-buttons-story {
    background-color: #9870A3;
    color: white;
    vertical-align: center;
}

#nav-buttons-story:hover {
    background-color: #252832;
    cursor: pointer
}

#nav-buttons-contact {
    background-color: #9870A3;
    color: white;
    vertical-align: center;
}

#nav-buttons-contact:hover {
    background-color: #252832;
    cursor: pointer
}

#nav-buttons-products {
    background-color: #9870A3;
    color: white;
    vertical-align: center;
}

#nav-buttons-products:hover {
    background-color: #252832;
    cursor: pointer
}

h2 {
    font-family: 'poiret one';
}

h4 {
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    text-shadow: 0 1px #2d2130
    /* line-height: 20px; */
    /* padding: 25px 15px 24px; */ 
}

/* .nav-link {
    color: white;
} */